In [1]:
# -*- coding: utf-8 -*-
# importation de pandas en tant que pan
import pandas as pan
# Création de séries vides
ser = pan.Series()
print(ser)

Series([], dtype: float64)

In [2]:
# importation de pandas as pan
import pandas as pan

# importation de  numpy as np
import numpy as np

# tableau simple
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])

s = pan.Series(data)
print(s)

0    P
1    y
2    t
3    h
4    o
5    n
dtype: object

In [3]:
# importation de pandas as pan
import pandas as pan

# importation de  numpy as np
import numpy as np

# tableau simple
data = np.array (['p', 'y', 't', 'h', 'o' , 'n'])

# fournir un index
s = pan.Series (data, index = [4, 7, 8, 9, 13 , 17])
print(s)

4     p
7     y
8     t
9     h
13    o
17    n
dtype: object

In [4]:
#import the pandas library as pan
import pandas as pan
import numpy as np
s = pan.Series(7, index=[1, 2, 3, 4, 5])
print(s)

1    7
2    7
3    7
4    7
5    7
dtype: int64

In [5]:
# coding: utf-8
import pandas as pan
# exemple de dictionnaire 
dict = {'Laptop' : 17, 
        'Ipad' : 15, 
        'Tablette' : 25} 
   
# Créer une série à partir du dictionnaire
s = pan.Series(dict)  
print(s)

Laptop      17
Ipad        15
Tablette    25
dtype: int64

In [6]:
# coding: utf-8
import pandas as pan
s = pan.Series([0, 1, 2, 3],index = ['a','b','c','d'])

#extraire le deuxième élément
print(s[1])
# Affiche  1

1

In [7]:
# coding: utf-8
import pandas as pan
s = pan.Series([0, 1, 2, 3],index = ['a','b','c','d'])

#extraire le deuxième élément
print(s[[1]])

b    1
dtype: int64

In [8]:
# coding: utf-8
import pandas as pan
s = pan.Series([0, 1, 2, 3, 4, 5],index = ['a','b','c','d','e','f'])

#extraire depuis l'index 2 jusqu'à l'index 4
print(s[2:4])

c    2
d    3
dtype: int64

In [9]:
# coding: utf-8
import pandas as pan
s = pan.Series([0, 1, 2, 3, 4, 5],index = ['a','b','c','d','e','f'])

#extraire le deuxième élément
print(s['d'])
print(s[['d']])

3
d    3
dtype: int64

In [10]:
# coding: utf-8
import pandas as pan
s = pan.Series([0, 1, 2, 3, 4, 5],index = ['a','b','c','d','e','f'])

#extraire le deuxième élément
print(s[['a' , 'e' , 'd']])

a    0
e    4
d    3
dtype: int64

In [15]:
import pandas
dictData = {'ID' : [1, 2, 3] , 
        'Nom': ['Natalie', 'Robert', 'Bernard'],  
        'Age': [22, 37, 29], 
        'Taille': [170, 190, 181]}

df = pandas.DataFrame(dictData)
print(df)

   ID      Nom  Age  Taille
0   1  Natalie   22     170
1   2   Robert   37     190
2   3  Bernard   29     181

In [19]:
import numpy
import pandas as pan
ar = numpy.array([[1, 'Natalie', 22, 170], [2, 'Robert', 37, 190], [3, 'Bernard' , 29 , 181]])
df = pan.DataFrame(ar,  columns = ['ID', 'Nom', 'Age', 'Taille'])
print(df)

  ID      Nom Age Taille
0  1  Natalie  22    170
1  2   Robert  37    190
2  3  Bernard  29    181

In [20]:
import pandas as pan
import numpy as np
ar = np.array([[1, 'Natalie', 22, 170], [2, 'Robert', 37, 190], [3, 'Bernard' , 29 , 181]])
df = pan.DataFrame(ar,  columns = ['ID', 'Nom', 'Age', 'Taille'])
print(df[['Nom', 'Age']])

       Nom Age
0  Natalie  22
1   Robert  37
2  Bernard  29